<nav class="navbar navbar-expand-sm navbar-dark bg-dark h2">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" dropdown>
          <div class="center">
            <a
              dropdownToggle
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-list-ul fa-1x">&nbsp; Categorias</i>
            </a>
          </div>
          <div
            *dropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-star fa-1x">&nbsp;Novidades</i> &nbsp;
          </a>
        </li>

        <li class="nav-item dropdown" dropdown>
          <div class="center">
            <a
              dropdownToggle
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-users-cog fa-1x">&nbsp; Administrativo</i>
            </a>
          </div>
          <div
            *dropdownMenu
            class="dropdown-menu"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" routerLink="/produto">Produtos</a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <div class="">
          <li *ngIf="user" class="nav-item dropdown" dropdown>
            <a
              dropdownToggle
              class="nav-link"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              style="cursor: pointer; text-transform: capitalize"
            >
              <img
                width="50"
                height="50"
                style="border-radius: 50%"
                src="{{ urlImage }}"
              />
            </a>
            <div
              *dropdownMenu
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a
                class="dropdown-item"
                [routerLink]="['/user/perfil']"
                routerLinkActive="router-link-active"
              >
                Perfil
              </a>
              <div role="separator" class="divider"></div>
              <a class="dropdown-item" (click)="logout()"> Sair </a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user/login']">
              <i *ngIf="!user" class="fas fa-house-user fa-1x mr-3"></i>
            </a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
